name: Publish new versions to npm

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  Publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
          registry-url: 'https://registry.npmjs.org'

      - name: Yarn Install
        run: yarn
        env:
          SA_REPLAY_SKIP_BINARY_DOWNLOAD: true
          SA_SKIP_DOWNLOAD: false
          HERO_SKIP_CHROME_DOWNLOAD: false

      - name: Check for Npm publish
        run: node ./scripts/npmPublish.js
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          scope: '@ulixee'

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: main
          commit_message: Npm Publish
